body {
    background-color: #EFEFEF;
    font-family: 'Montserrat', sans-serif;
}
#wrap {
    background-color: white;
    width: 600px;
    height: 500px;
    position: absolute;
    top: 50%;
    -ms-transform:  translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    border-radius: 10px;
    box-shadow: -3px 3px 3px #CCCCCC;
    font-size: 14px;
    overflow: hidden;
}
input {
    border: none;
    outline: none;
    border-bottom: 1px solid #FAFAFA;
    color: #C5C5C5;
}
input::placeholder {
    color: #B7B7B7;
}
#searchInput, #searchTag {
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 16px;
}
.inputTag {
    padding: 10px 0;
    font-size: 14px;
}
#content {
    width: 100%;
    height: 420px;
    overflow: auto;
}
.item {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid #FAFAFA;
    color: #C5C5C5;
    width: 100%;
}
img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 50px;
    border: 1px solid #EDEDED;
}
.name {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    margin-bottom: 10px;
    margin-left: -15px;
}
.expand-btn {
    font-size: 16px;
    margin-top: 5px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 30px;
    order: 2;
}
.hide {
    display: none;
}
.tag {
    display: flex;
}
.tag > div {
    background-color: #E0E0E0;
    color: #8B8B8B;
    padding: 5px;
    border-radius: 5px;
    margin: 5px 5px 5px 0px;
}